/* ESTILO GERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Arial, sans-serif;
}

body {
  background-color: black;
  padding-top: 90px;
}

.interface {
  max-width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

html {
  scroll-behavior: smooth;
}

.btn-social a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
}

#currentYear {
  color: inherit !important;
}

/* BARRA CARREGAMENTO */
#progress-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px; 
  background-color: transparent; 
  z-index: 9999;
}

#progress-bar {
  width: 0;
  height: 2px; 
  background-color: #007bff; 
  transition: width 0.2s ease-in-out;
}

/* BTN CONTATO */
.btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: red;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}

h2.titulo {
  color: white;
  font-size: 37px;
  text-align: center;
}

h2.titulo span {
  color: red;
}

button:hover,
form .btn-enviar input:hover {
  box-shadow: 0px 0px 8px red;
  transform: scale(1.05);
}

/* CENTRALIZAÇÃO SEÇÕES */
main {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 4%;
}

section.formulario {
  min-height: auto;
  justify-content: flex-start;
  padding-top: 120px;
  padding-bottom: 120px;
}

section.formulario .interface {
  max-width: 600px;
  width: 100%;
  margin: 100px auto;
}

section.formulario form {
  gap: 20px;
}

/* BTN VOLTAR INICIO */
#scrollTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: red;
  color: black;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
  display: none; 
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* BTN VOLTAR INICIO MOBILE */
.mobile-icon {
  display: none; 
  font-size: 30px; 
  line-height: 1; 
  text-align: center;
}

@media screen and (max-width: 768px) {
  .desktop-text {
    display: none; 
  }

  .mobile-icon {
    display: inline-block; 
  }

  #scrollTopBtn {
    padding: 0; 
    width: 50px;
    height: 50px;
    font-size: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}



/* ESTILO DO CABEÇALHO */
header .logo img {
  max-width: 80px;
  height: auto;
}

/* MENU FIXO */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  padding: 1px 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  opacity: 0;
  transform: translateY(-50px);
}

header.scrolled {
  background-color: rgba(0, 0, 0, 0.95);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  opacity: 1;
  transform: translateY(0);
}

header .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.buttons-header {
  display: flex;
  align-items: center;
  gap: 15px;
}

#toggle-mode {
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  outline: none; 
  box-shadow: none; 
}

#toggle-mode:focus,
#toggle-mode:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}


#toggle-mode:hover {
  box-shadow: none !important;
  transform: none !important;
}


header a {
  color: rgb(119, 119, 119);
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}

header a:hover {
  color: white;
  transform: scale(1.05);
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  padding: 0 40px;
}

/* ESTILO DO TOPO DO SITE */
section.topo-do-site {
  padding: 40px 4%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.topo-do-site .flex {
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.topo-do-site .txt-topo-site {
  max-width: 50%;
  text-align: left;
}

.topo-do-site .txt-topo-site h1 {
  color: white;
  font-size: 41px;
  line-height: 45px;
}

.topo-do-site .txt-topo-site h1 span {
  color: red;
  display: inline-block;
}

.topo-do-site .txt-topo-site p {
  color: white;
  margin: 20px 0;
  max-width: 500px;
}

/* IMAGEM DO TOPO DO SITE */
.topo-do-site .img-topo-site {
  width: 50%;
  display: flex;
  justify-content: center;
}

.topo-do-site .img-topo-site img {
  max-width: 70%;
  height: auto;
  animation: flutuar 2s ease-in-out infinite alternate;
}

/* ANIMAÇÃO DA IMAGEM FLUTUANDO */
@keyframes flutuar {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}

/* ESTILO DAS ESPECIALIDADES */
section.especialidades {
  min-height: 160vh; 
  padding-top: 40px; 
  padding-bottom: 40px; 
}

section.especialidades .flex {
  gap: 30px;
}

.especialidades .especialidades-box {
  color: white;
  padding: 30px;
  border-radius: 40px;
  border: 2px solid gray;
  margin-top: 45px;
  transition: 0.2s;
}

.especialidades .especialidades-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px red;
}

.especialidades .especialidades-box i {
  font-size: 90px;
  color: red;
}

.especialidades .especialidades-box h3 {
  font-size: 28px;
  margin: 10px 0;
}

/* ESTILO DO SOBRE MIM */
section.sobre {
  min-height: 130vh;
  padding-top: 40px; 
  padding-bottom: 40px; 
}

section.sobre .flex {
  align-items: center;
  gap: 40px;
}

.sobre .txt-sobre {
  color: white;
}

.sobre .txt-sobre h2 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
  color: red;
  display: inline;
}

.sobre .txt-sobre p {
  margin: 20px 0;
  text-align: left;
  line-height: 1.6;
  word-spacing: normal;
  letter-spacing: normal;
  max-width: 600px;
}

/* BTN SOCIAL */
.btn-social button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: red;
  font-size: 25px;
  cursor: pointer;
  margin: 15px 10px;
  transition: 0.2;
  -webkit-tap-highlight-color: transparent;
}

/* ESTILO PORTFÓLIO */
section.portfolio {
  min-height: 140vh;
  padding-top: 40px; 
  padding-bottom: 40px; 
  box-shadow: 0 0 40px 10px red;
}

section.portfolio .flex {
  justify-content: space-around;
  margin-top: 60px;
}

.img-port {
  width: 360px;
  height: 460px;
  background-size: cover;
  background-position: 100% 0%;
  transition: 10s;
  cursor: pointer;
  border-radius: 40px;
  position: relative;
}

.img-port:hover {
  background-position: 100% 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.385);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  color: white;
  opacity: 0;
  transition: 0.5s;
}

.overlay:hover {
  opacity: 1;
}

/* ESTILO FORMULÁRIO CONTATO */
section.formulario {
  min-height: 170vh;
  padding-top: 40px; 
  padding-bottom: 40px; 
}

form {
  max-width: 500px;
  margin: 40px auto 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input {
  width: 100%;
  background-color: rgb(45, 45, 45);
  border: 0;
  outline: 0;
  padding: 20px 15px;
  border-radius: 15px;
  color: white;
  font-size: 18px;
}

form textarea {
  width: 100%;
  height: 200px;
  background-color: rgb(45, 45, 45);
  border: 0;
  outline: 0;
  padding: 20px 15px;
  border-radius: 15px;
  color: white;
  font-size: 18px;
  resize: none;
}

form .btn-enviar {
  margin-top: 20px;
  text-align: center;
}

form .btn-enviar input {
  width: 120px;
  background-color: red;
  color: black;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}

.spin {
  animation: spin 1s linear infinite;
  -webkit-text-stroke: 1px black;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form .btn-enviar button {
  width: 200px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: red;
  color: black;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
  border: none;
  border-radius: 30px;
}

#statusMensagem {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
}

.captcha-container {
  text-align: center;
  display: block;
  margin: 0 auto;
}

/* ESTILO RODAPÉ */
.logo-footer img {
  max-width: 90px;
  height: auto;
  transition: transform 0.2s ease-in-out;
}

.logo-footer img:hover {
  transform: scale(1.05);
}

footer {
  padding: 20px 8%;
  box-shadow: 0 0 40px 10px rgb(0, 0, 0);
}

footer {
  background-color: black;
  color: white;
  box-shadow: 0px 5px 20px rgba(255, 0, 0, 0.212) !important; 
}

body.light-mode footer {
  background-color: #d9d9d9;
  color: black;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5) !important;
}

footer a {
  color: white !important; 
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: red !important;
}

body.light-mode footer a {
  color: black !important; 
}

body.light-mode footer a:hover {
  color: #1ab7d2 !important; 
}


footer .flex {
  justify-content: space-between;
}

footer .line-footer {
  padding: 20px 0;
}

.borda {
  border-top: 2px solid red;
  color: white;
}

/* FADE IN */
.fade-img, .fade-text {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-img.active {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s; 
}

.fade-text.active {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s; 
}

.fade-in {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.active {
  opacity: 1;
  transform: translateY(0);
}

.especialidades-box {
  transition-delay: 0.3s;
}


@media screen and (max-width: 1020px) {
  /* CLASSES GERAIS */
  .flex {
    flex-direction: column;
  }

  .topo-do-site .flex {
    flex-direction: column-reverse;
    gap: 20px;
  }

  h2.titulo {
    font-size: 26px;
    line-height: 35px;
  }

  /* CABEÇALHO */
  .menu-desktop,
  .btn-contato {
    display: none;
  }

  /* TOPO DO SITE */
  section.topo-do-site {
    padding: 20px 8%;
  }

  section.topo-do-site .flex {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .topo-do-site .txt-topo-site,
  .topo-do-site .img-topo-site {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .topo-do-site .txt-topo-site {
    text-align: center;
  }

  .topo-do-site .txt-topo-site h1 {
    font-size: 26px;
  }

  .topo-do-site .txt-topo-site p {
    margin: 15px auto;
  }

  .topo-do-site .img-topo-site img {
    width: 150%;
    max-width: 200%;
  }

  /* ESPECIALIDADES */
  section.especialidades {
    padding: 40px 8%;
  }

  /* SOBRE */
  section.sobre {
    padding: 40px 8%;
  }

  .sobre .txt-sobre h2 {
    font-size: 26px;
    line-height: 35px;
    text-align: center;
  }

  .btn-social {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
  }

  .img-sobre img {
    width: 100%;
  }

  /* PORTFÓLIO */
  section.portfolio {
    padding: 40px 8%;
  }

  .img-port {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
  }

  section.portfolio .flex {
    gap: 60px;
  }

  /* RODAPÉ */
  footer .flex {
    flex-direction: column;
    gap: 30px;
  }

  footer .line-footer {
    text-align: center;
  }
}

/* MODO CLARO */
body.light-mode {
  background-color: #d9d9d9 !important;
  color: #000000 !important;
}

body.light-mode section,
body.light-mode header,
body.light-mode footer {
  background-color: #d9d9d9 !important;
  color: #000000 !important;
}

body.light-mode a,
body.light-mode h1,
body.light-mode h2,
body.light-mode h3,
body.light-mode p,
body.light-mode span {
  color: #000000 !important;
}

body.light-mode span {
  color: #1ab7d2 !important;
}

body.light-mode .btn-contato button,
body.light-mode .btn-social button {
  background-color: #1ab7d2 !important;
  color: #000000 !important;
  -webkit-tap-highlight-color: transparent;
}

body.light-mode .especialidades .especialidades-box i {
  color: #1ab7d2 !important;
}

body.light-mode .especialidades .especialidades-box {
  border: 2px solid #000000 !important;
}

body.light-mode form input,
body.light-mode form textarea {
  background-color: #e1e1e1;
  color: #000000;
  border: 1px solid #ccc;
}

body.light-mode section.portfolio {
  padding: 80px 0; 
  box-shadow: 0 0 80px 10px #1ab7d2;
  z-index: 1; /* Adiciona z-index para garantir visibilidade */
  position: relative; /* Necessário para que o z-index funcione */
}


body.light-mode .borda {
  border-top: 2px solid #1ab7d2;
  color: white;
}

body.light-mode form .btn-enviar button {
  background-color: #1ab7d2;
  color: black;
}

body.light-mode .especialidades .especialidades-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #1ab7d2;
}

body.light-mode header nav.menu-desktop ul li a {
  color: #464646 !important;
  transition: color 0.6s ease !important;
}

body.light-mode header nav.menu-desktop ul li a:hover {
  color: #000000 !important;
  font-weight: bold;
}

body.light-mode button:hover,
body.light-mode form .btn-enviar input:hover {
  box-shadow: 0px 0px 8px #1ab7d2;
  transform: scale(1.05);
}

body:not(.light-mode) #toggle-mode i.bi bi-brightness-high {
  color: black !important;
}

#loading-icon {
  font-size: 80px;
  animation: icon-fade 1s ease-in-out infinite alternate;
  -webkit-text-stroke: 3px black;
}

@keyframes icon-fade {
  0% {
    opacity: 0.5;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1.1);
  }
}

#loading-screen {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/* BTN INICIO MODO CLARO */
body.light-mode #scrollTopBtn {
  background-color: #1ab7d2 !important;
}

body.light-mode #scrollTopBtn:hover {
  box-shadow: 0 0 15px #1ab7d2 !important;
}

body.light-mode #scrollTopBtn span {
  color: black !important;
}