/* === TEMA: MODO CLARO === */
body.light-mode {
  background-color: var(--cor-secundaria) !important;
  color: #000000 !important;
}

body.light-mode section,
body.light-mode header,
body.light-mode footer {
  background-color: var(--cor-secundaria) !important;
  color: #000000 !important;
}

body.light-mode a,
body.light-mode h1,
body.light-mode h2,
body.light-mode h3,
body.light-mode p,
body.light-mode span {
  color: #000000 !important;
}

body.light-mode span {
  color: var(--cor-primaria) !important;
}

body.light-mode .btn-contato button,
body.light-mode .btn-social button {
  background-color: var(--cor-primaria) !important;
  color: #000000 !important;
}

body.light-mode .especialidades .especialidades-box i {
  color: var(--cor-primaria) !important;
}

body.light-mode .especialidades .especialidades-box {
  border: 2px solid #000000 !important;
}

body.light-mode form input,
body.light-mode form textarea {
  background-color: #e1e1e1;
  color: #000000;
  border: 1px solid #ccc;
}

body.light-mode section.portfolio {
  box-shadow: 0 0 80px 10px var(--cor-primaria);
  z-index: 1;
  position: relative;
}

body.light-mode .borda {
  border-top: 2px solid var(--cor-primaria);
  color: #000000;
}

body.light-mode form .btn-enviar button {
  background-color: var(--cor-primaria);
  color: black;
}

body.light-mode .especialidades .especialidades-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px var(--cor-primaria);
}

body.light-mode header nav.menu-desktop ul li a {
  color: #464646 !important;
  transition: color 0.6s ease !important;
}

body.light-mode header nav.menu-desktop ul li a:hover {
  color: #000000 !important;
  font-weight: bold;
}

body.light-mode button:hover,
body.light-mode form .btn-enviar input:hover {
  box-shadow: 0px 0px 8px var(--cor-primaria);
  transform: scale(1.05);
}

body.light-mode #scrollTopBtn {
  background-color: var(--cor-primaria) !important;
}

body.light-mode #scrollTopBtn:hover {
  box-shadow: 0 0 15px var(--cor-primaria) !important;
}

body.light-mode #scrollTopBtn span {
  color: black !important;
}

/* === ÍCONE DE CARREGAMENTO === */
#loading-icon {
  font-size: 80px;
  animation: icon-fade 1s ease-in-out infinite alternate;
  -webkit-text-stroke: 3px black;
}

@keyframes icon-fade {
  0% {
    opacity: 0.5;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1.1);
  }
}

#loading-screen {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

body.light-mode footer {
  box-shadow: 0px 5px 20px rgba(26, 183, 210, 0.21); /* azul/ciano */
}

body.light-mode footer a:hover {
  color: var(--cor-primaria) !important;
}

body.light-mode footer a#currentYear,
body.light-mode footer span#currentYear {
  color: #000 !important;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

body.light-mode header,
body.light-mode header.scrolled {
  background-color: var(--cor-secundaria) !important;
}