/* Reset Padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* Estilo Geral */
body {
  background-color: #121212; /* Fundo preto */
  color: #ffffff; /* Texto branco */
  line-height: 1.6;
  padding: 0 20px;
  text-align: justify;
}

/* Cabeçalho */
header {
  text-align: center;
  padding: 20px 0;
  background: #1a1a1a;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

h1 {
  color: #ffffff;
  font-size: 2rem;
}

p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.logo {
  max-width: 100px;
  display: inline-block;
  vertical-align: middle;
}


/* Container Principal */
.interface {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
}

/* Títulos */
h2 {
  color: #ffffff;
  margin-top: 20px;
  font-size: 1.5rem;
}

/* Links */
a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 2px solid #ffffff;
  transition: 0.3s;
}

a:hover {
  color: #cccccc;
  border-bottom: 2px solid #cccccc;
}

/* Rodapé */
footer {
  text-align: center;
  padding: 20px 0;
  background: #1a1a1a;
  margin-top: 30px;
}

/* Botão Voltar ao Site */
footer .btn-voltar {
  display: inline-block;
  padding: 10px 20px;
  background: #ffffff;
  color: #000000;
  border-radius: 8px;
  transition: 0.3s;
  font-weight: bold;
}

footer .btn-voltar:hover {
  background: #cccccc;
}

/* Botão Voltar ao Topo */
#scrollTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffffff;
  color: #000000;
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  display: none;
  z-index: 1000;
  font-weight: bold;
}

#scrollTopBtn:hover {
  background-color: #cccccc;
}

/* Modo Responsivo */
@media screen and (max-width: 768px) {
  .interface {
      padding: 10px;
  }

  h1 {
      font-size: 1.8rem;
  }

  h2 {
      font-size: 1.3rem;
  }

  p {
      font-size: 0.9rem;
  }
}
